

<%= form_for @user, html: { multipart: true } do |f| %>

  <div class="form-group mb-3">
    <%= f.label :name, class: 'form-label' %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group mb-3">
    <%= f.label :email, class: 'form-label' %>
    <%= f.text_field :email, class: 'form-control' %>
  </div>

  <div class="actions buffer-top mb-3">
    <%= f.submit 'Сохранить', class: 'btn btn-primary' %>
    <%= link_to 'вернуться', :back, class: 'btn btn-secondary' %>
  </div>
<% end %>

