<%# Паршиал дляотображения формы создания нового события %>
<%= form_with(model: @event) do |f| %>
  <%= render partial: 'partials/form_errors', locals: {model: @event} %>

  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>

  <div class="form-group mb-3">
    <%= f.hidden_field :address %>
    <%= f.label :address %>
    <%= f.text_field :address, class: 'form-control' %>
  </div>

  <div class="form-group mb-3">
    <%= f.label :datetime %>
    <p><%= f.datetime_select :datetime, class: 'form-control' %></p>
  </div>

  <div class="form-group mb-3">
    <%= f.label :description %>
    <%= f.text_area :description, class: 'form-control' %>
  </div>

  <div class="actions mb-3">
    <%= f.submit 'Сохранить', class: 'btn btn-primary' %>
    <%= link_to 'Вернуться', :back, class: 'btn btn-secondary' %>
  </div>
<% end %>
