<h1><%= t('pages.events.pincode') %></h1>


<%= form_tag('', method: :post) do |f| %>
  <div class="form-group mb-3">
    <%= label :pincode, t('activerecord.attributes.event.pincode') %>
    <%= text_field_tag :pincode, params[:pincode], class: 'form-control' %>
  </div>

  <div class="actions mb-3">
    <%= submit_tag t('buttons.general.submit'), class: 'btn btn-primary' %>
  </div>
<% end %>

<%= link_to 'На главную', event_path %>