<h1><%= t '.title' %> ะบ <%= @event.title %> </h1>
<%= image_tag(@new_photo.photo.thumb.url) %>

<p><%= t '.author' %>: <strong><%= @new_photo.user.name %></strong></p>

<hr/>

<%= t '.event' %>
<h3><%= @event.title %></h3>

<%= t '.datetime' %>
<h4><%= l @event.datetime %></h4>

<%= t '.owner' %>
<h4><%= @event.user.name %></h4>