<!DOCTYPE html>
<html lang="ru" class="h-100">
<head>
  <title>Bbq</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <script src="https://api-maps.yandex.ru/2.1/?apikey=ba9453b9-922a-472a-86f0-ff541b5472b4&lang=ru_RU" type="text/javascript"></script>

</head>

<body class="d-flex flex-column h-100">
<div class="container flex-shrink-0">
  <header class="d-flex flex-wrap align-items-center justify-content-start py-3 mb-4 col-12 border-bottom">
    <div class="nav col-9 col-md-6 col-md-auto mb-2 mb-md-0">
      <%= link_to t('app.name'), root_path, class: 'navbar-brand nav-link px-2 link-secondary' %>
    </div>

    <% if user_signed_in? %>
      <div class="col-md-3 text-end">
        <%= link_to 'Профиль', current_user, class: 'btn btn-secondary' %>
        <%= link_to 'Выйти', destroy_user_session_path, :method => :delete, class: 'btn btn-outline-secondary me-2' %>
      </div>
    <% else %>
      <div class="col-md-3 text-end">
        <% unless current_page?(controller: 'devise/sessions', action: 'new') %>
          <%= link_to 'Войти', new_user_session_path, class: 'btn btn-outline-secondary me-2' %>
        <% end %>
        <% unless current_page?(controller: 'devise/registrations', action: 'new') %>
          <%= link_to 'Регистрация', new_user_registration_path, class: 'btn btn-secondary' %>
        <% end %>
      </div>
    <% end %>
  </header>

  <div class="row">
    <div class="col-lg-9">
      <% flash.each do |type, msg| %>
        <div class="alert <%= flash_alert_color_bg(type) %> alert-dismissible fade show" role="alert">
          <%= msg %>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      <% end %>
      <%= yield %>
    </div>


    <div class="col-lg-3 ">
    </div>
  </div>


</div>
<footer class="footer mt-auto py-3">
  <div class="container">
    <p>&copy; <%= t('app.company') %> <%= Time.now.year %></p>
  </div>
</footer>


</body>
</html>
